body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;

    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    background-color: rgb(168, 164, 164);
    font-weight: bold;
    font-size: larger;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
}

img {
    display: block;
    margin-left: 40%;
    margin-top: 2%;
    width: 70%;
    height: auto;
    border-radius: 8px;
}

p {
    max-width: 700px;
    margin: 0 auto 20px;
    text-align: center;
}

ul {
    max-width: 300px;
    margin: 0 auto;
}